<%= display_meta_tags %>
<% @all_posts.each_with_index do |post, i| %>
  <% i = i + 1 %>
  <% if i % 2 == 1 %>
    <div class="row">
  <% end %>
      <div class="col-lg-6">
        <div class="well sidebar-nav">
          <% if post.image? %>
            <%= image_tag(post.image.url, :class => "width100") %>
          <% end %>
          <h3><%= link_to "#{post.title}", post_path(post.id) %></h3>
          <small><%= l(post.created_at, format: :veryshort) %></small>
          <p><%= post.content.truncate(90) %></p>
          <p>
            <%= link_to "もっと読む", post_path(post.id), :class => "btn btn-large btn-info float-left" %>
            <%= link_to "#{post.user.name}さんの盆栽日記", post.user, :class => 'btn btn-small btn-info margin-left' %>
          </p>
          <p>
            <small><%= link_to "コメント#{post.comments.length}件", post %></small>  
          </p>
        </div><!--/.well -->
      </div><!--/span-->
  <% if i % 2 == 0 %>
    </div>
  <% end %>
  <% if i % 2 == 1 && i == @all_posts.length %>
    </div>
  <% end %>
<% end %>