<%= simple_form_for(@post) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :user_id, :as => :hidden, :input_html => { :value => current_user.id } %>
    <%= f.input :title, :label => "タイトル", :hint => false %>
    <%= f.input :content, :label => "日記", :placeholder => '今日あった出来事や、気になる質問をつぶやいてみましょう。', :hint => false %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
