<p id="notice"><%= notice %></p>

<h2><%= @post.title %></h2>
<p><small><%= l(@post.created_at, format: :mid) %></small></p>
<p><%= @post.content %></p>
<% if @post.image? %>
　<p><%= image_tag(@post.image.url, :class => "width50") %></p>
<% end %>

<%= link_to '編集', edit_post_path(@post) %> |
<%= link_to '戻る', homes_path %>

<%= render @post.comments %>
<% if user_signed_in? %>
  <%= render "comments/form" %>
<% end %>